*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-block-size: 100vh;
    background-color: hsl(200, 70%, 5%); 
    color: #fff;
    display: grid;
    place-content: center;
    gap: 20px; 
}

.btn-wrapper {
    display: inline-block;
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 10px;
    border: 0;
    outline: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-wrapper::before {
    position: absolute;
    content: "";
    width: 400%;
    height: 400%;
    top: -150%;
    left: -150%;
    transform-origin: center center;
    animation: border-spin 7s linear infinite;
}

.btn-text {
    position: absolute;
    inset: 3px;
    display: grid;
    place-content: center;
    font-size: 1.125rem;
    color: #fff;
    border-radius: 10px;
    letter-spacing: 1px;
}

.login {
    background: linear-gradient(to bottom, hsl(150, 60%, 40%), hsl(150, 60%, 35%)); 
}

.login::before {
    background: conic-gradient(
        hsla(50, 100%, 50%, 0.7) 0deg,  
        hsla(60, 100%, 50%, 0.7) 0deg,
        transparent 40deg
    );
}

.login .btn-text {
    background: linear-gradient(
        to bottom,
        hsl(150, 60%, 35%), 
        hsl(150, 60%, 30%)
    );
}


.signup {
    background: linear-gradient(to bottom, hsl(250, 60%, 40%), hsl(250, 60%, 35%)); 
}

.signup::before {
    background: conic-gradient(
        hsla(300, 100%, 50%, 0.7) 0deg,  
        hsla(310, 100%, 50%, 0.7) 0deg,
        transparent 40deg
    );
}

.signup .btn-text {
    background: linear-gradient(
        to bottom,
        hsl(250, 60%, 35%), 
        hsl(250, 60%, 30%)
    );
}

@keyframes border-spin {
    to {
        rotate: 360deg;
    }
}
